@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Profession Management App</h1>
    <p>Check the code on my  <a href="https://github.com/IvoMCFerreira/ProfessionFormApp">Github Repository</a>.</p>
    <img src="~/images/management.png" alt="management" class="img-fluid" style="width: 150px; height: auto;" />


    <div class="mt-4">
        <a asp-controller="People" asp-action="Index" class="btn btn-primary">Go to People</a>
        <a asp-controller="Professions" asp-action="Index" class="btn btn-secondary">Go to Professions</a>
    </div>
</div>
